@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-base sm:text-xl font-semibold;
  }
  input {
    @apply p-1 border-2;
  }
  button {
    @apply p-1 rounded-md;
  }
  .general-layout {
    @apply w-full lg:w-[1440px];
  }
  .alertbtn {
    @apply bg-red-500 p-2;
  }
  .formtitle {
    @apply;
  }
  .formdetail {
    @apply;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }

  .theblueplus {
    border: solid 1px rgb(5, 133, 197);
    background: #168dfd;
    box-shadow: 0px 6px 0px #0f74a7;
  }
  /* .theblueplus:active {
    box-shadow: 0px 2px 0px #169de1;
    position: relative;
    top: 4px;
  } */

  .thebezelplus {
    border: solid 1px #f39b17;
    background: #ffb443;
    box-shadow: 0px 6px 0px #c4882e;
  }

  /* 3rd party: url??*/
  .add-btn {
    border: solid 1px rgb(5, 133, 197);
    background: #168dfd;
    box-shadow: 0px 3px 0px #0f74a7;
  }
  .add-btn:active {
    box-shadow: 0px 2px 0px #169de1;
    position: relative;
    top: 4px;
  }

  .red-btn {
    position: relative;
    width: auto;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #fa553c;
    background: #f4654f;
    text-align: center;
    padding: 3px;
    transition: all 0.1s;
    box-shadow: 0px 3px 0px #cc5846;
  }
  .red-btn:active {
    box-shadow: 0px 2px 0px #cc5846;
    position: relative;
    top: 4px;
  }

  .yellow-btn {
    position: relative;
    width: auto;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #f9db1c;
    background: #f2dc4b;
    text-align: center;
    padding: 3px;
    transition: all 0.1s;
    box-shadow: 0px 3px 0px #d0bd41;
  }
  .yellow-btn:active {
    box-shadow: 0px 2px 0px #d0bd41;
    position: relative;
    top: 4px;
  }

  .green-btn {
    position: relative;
    width: auto;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #36f773;
    background: #71fc9c;
    text-align: center;
    padding: 3px;
    transition: all 0.1s;
    box-shadow: 0px 3px 0px #55d47d;
  }
  .green-btn:active {
    box-shadow: 0px 2px 0px #55d47d;
    position: relative;
    top: 4px;
  }

  .blue-btn {
    position: relative;
    width: auto;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #0ca0ea;
    background: #19affb;
    text-align: center;
    padding: 3px;
    transition: all 0.1s;
    box-shadow: 0px 3px 0px #169de1;
  }
  .blue-btn:active {
    box-shadow: 0px 2px 0px #169de1;
    position: relative;
    top: 4px;
  }

  .neutral-btn {
    position: relative;
    width: auto;
    color: #070707;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    background: #ffffff;
    text-align: center;
    padding: 3px;
    transition: all 0.1s;
    box-shadow: 0px 3px 0px #a9a9a9;
  }
  .neutral-btn:active {
    box-shadow: 0px 2px 0px #a9a9a9;
    position: relative;
    top: 4px;
  }

  .test {
    color: #168dfd;
    color: #f4654f;
    color: #2bb826;
    color: #ffdfb0;
  }
}
